body {
    font-family: Arial, sans-serif;
    background-color: #f8e6e0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e03e4e;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.content {
    padding: 20px;
}

h2 {
    color: #e03e4e;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #e03e4e;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Container untuk memusatkan tombol */
.container {
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
}

/* Styling untuk tombol */
.my-button {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: #e03e4e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover effect */
.my-button:hover {
    background-color: #e03e4e;
    transform: scale(1.05);
}

/* Active effect saat tombol diklik */
.my-button:active {
    background-color: #e03e4e;
    transform: scale(1);
}